*{margin: 0;padding: 0;}
.mainbody,
.header{margin: 0 auto;
		width:1920px;
		text-align:center;
		font-size: 30px;
		}
table tr,td
			{border: 1px solid black;

		}
table{
	  font-size: 30px;
	  margin: 0 auto;
	  border-collapse: separate;
	  border-spacing: 10px;
      }
td{
	width: 150px;
	height: 100px;
	border-radius: 5px
}
input{font-size:30px;
		width:150px;
		height: 100px; }
